@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Afacad', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: #99bdc9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#left, #right {
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed white;
}

.list {
    background: #388391;
    height: 60px;
    margin: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: grab;
}

.list img {
    width: 10px;
    margin-right: 15px;
    margin-left: 20px;
}

.footer {
    font-size: 14px;
    color: #ffffff;
    opacity: 0.7;
    text-align: center;
    margin-top: 20px;
}
