@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Afacad', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    background: #838383;
}

.container {
    width: 400px;
    padding: 25px 35px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}

.container p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    margin: 10px 0 20px;
    padding: 10px;
}

.container button {
    width: 100%;
    height: 50px;
    background: #8f8f8f;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
    transition: 300ms;
}

.container button:hover {
    background: #c0c0c0;
}

#imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#imgBox img {
    display: none;
    width: 150px;
    height: 150px;
}

.footer {
    background: #444;
    color: #ccc;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 0.85rem;
    width: 100%;
}
